/*
  =======================
  General layout
  =======================
*/

.d-flex {
  display: flex;
}

.top-section {
  background-color: plum;
}

.latest-news {
  background-color: palegreen;
}

.latest-funding {
  background-color: powderblue;
}

.topic-sections {
  background-color: teal;
}

.latest-deals {
  background-color: rgb(184, 122, 184);
}

footer {
  background-color: rgb(162, 190, 106);
}

ul {
  list-style: none;
  padding: 0;
}

.hidden {
  position: absolute;
  left: -9999999px;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  background: linear-gradient(
    rgba(85, 85, 85, 1) 1%,
    rgba(255, 255, 255, 1) 4%
  );
}

main {
  margin: 8px;
}

footer {
  background-color: black;
  color: rgb(139, 139, 139);
}

/*
  =======================
  Typography
  =======================
*/

/*
  =======================
  Header
  =======================
*/
.white-nav {
  background-color: transparent;
}

.logo-top {
  background: black url(../images/logo-72x72.png) center no-repeat;
  width: 106px;
  height: 48px;
}

.fa-search {
  font-size: 22px;
  transform: scale(-1, 1);
  color: #bfbfbf;
}
.fa-bars {
  font-size: 22px;
  color: #f42;
}
